@font-face {
    font-family: 'PFDM';
    src: url('/font/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PFDB';
    src: url('/font/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KarlaR';
    src: url('/font/Karla-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KarlaB';
    src: url('/font/Karla-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}