@use "../../abstracts/colors" as *;
@use "../../abstracts/typography" as *;
@use "../../abstracts/mixins" as *;

.btn-secondary{
    background-color: #4F6234;
    border-radius: 6px;
    height: 40px;
    width: 190px;
    display: flex;
    align-items: center;
    a{
        text-decoration: none;
        padding: 1rem;
        color: $primary-color-link;
        font-size: 1.25rem;

    }
}

.btnV-secondary{
    background-color: #4F6234;
    border-radius: 6px;
    height: 40px;
    width: 190px;
    display: flex;
    align-items: center;
    padding: 1rem;
    color: $primary-color-link;
    font-size: 1.25rem;
    border:none;
} 


.btn-primary{
    background-color: #363A2B;
    border-radius: 6px;
    height: 20x;
    width: 200px;
    padding: 1rem;
    a{ 
        font-family: $font-family-secondary;
        font-size:1.875rem;
        text-decoration: none;
        color: $primary-color-link;
    }
}