
$primary-color-link:white;
$secondary-color-link:#363A2B; 
$primary-color-txt:black;
$secondary-color-txt:white;
$third-color-txt:#C0C0C0;
$background-color-dispo-primary:#D9C7B3;
$background-color-dispo-secondary: #E1D2C2;
$green2:#4F6234